<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>three-js app</title>
		<style>
			body { margin: 0; }
		</style>
        <script type="importmap">
            {
                "imports": {
                    "three": "../static/node_modules/three/build/three.module.js"
                }
            }
        </script>
	</head>
	<body>
		<script
            type="module"
            src="{{ url_for('static', filename='js/app.js') }}"
            type="text/javascript">
        </script>
	</body>
</html>