<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>three-js app</title>
        <link 
            rel="stylesheet" 
            type="text/css"
            href="{{ url_for('static', filename='css/styles.css') }}">
        <script type="importmap">
            {
                "imports": {
                    "three": "../static/node_modules/three/build/three.module.js",
                    "three/addons/controls/TrackballControls.js": "../static/node_modules/three/examples/jsm/controls/TrackballControls.js"
                }
            }
        </script>
	</head>
	<body>
        <div id="viewer-container">
            <button id="reset-button">Reset View</button>
        </div>
		<script
            type="module"
            src="{{ url_for('static', filename='js/app.js') }}"
            type="text/javascript">
        </script>
	</body>
</html>